<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .Name }} - Artist Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1>Band Info</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/artist/{{ .Name }}">{{ .Name }}</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="artist-details">
            <div class="artist-image">
                <img src="{{ .Image }}" alt="{{ .Name }}">
            </div>
            <div class="artist-info">
                <h2>{{ .Name }}</h2>
                <p><strong>First Album:</strong> {{ .FirstAlbum }}</p>
                <p><strong>Year Started:</strong> {{ .StartYear }}</p>
                <h3>Members:</h3>
                <ul>
                    {{ range .Members }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
                <ul>
                <h3>Concert Locations:</h3>
                    {{ range .Locations }}
                    <li>{{ . }}</li>
                    {{ end }}
                </ul>
            </div>
        </section>
    </main>
</body>
</html>
